@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
// Variables
:root{
    --background-color : #17181F;
    --secondary-color : #1F2029;
    --tersier-color : #343645;
    --background-color : #17181F;
    --main-text-color : #F0F0F6;
    --secondary-text-color : #7A7A7A;
    --input-color : #30323F;
    --button-color : #FDF5D3;
}
// End of Variables

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
//global styles
.container{
    height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: var(--background-color);
}
//end of global styles
//login/register styles
    .brand {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        img {
          height: 5rem;
        }
        h1 {
          color: #fff;
          text-transform: capitalize;
        }
      }
      .form-login {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #00000076;
        border-radius: 2rem;
        padding: 3rem 5rem;
        input {
          background-color: transparent;
          padding: 1rem;
          border: 0.1rem solid #a59f83;
          border-radius: 0.4rem;
          color: #fff;
          width: 100%;
          font-size: 1rem;
          &:focus {
            border: 0.1rem solid var(--button-color);
            outline: none;
          }
        }
        .heading_form {
          color: #fff;
          text-align: center;
        }
        .btn-register {
          background-color: var(--button-color);
          color: var(--secondary-color);
          padding: 1rem 2rem;
          border: none;
          font-weight: bold;
          cursor: pointer;
          border-radius: 0.4rem;
          font-size: 1rem;
          text-transform: capitalize;
          transition: 0.3s ease-out;
          &:hover {
            background-color: #a79f7e;
          }
        }
        .err{
          color: #ff3333;
          font-size: .9rem;
        }
        span {
          color: #fff;
          text-transform: capitalize;
          a {
            color: var(--main-text-color);
            text-decoration: none;
            font-weight: bold;
            &:hover {
              color: #fff;
              text-decoration: underline;
            }
          }
        }
      }
//end of login/register styles

// welcome styles
.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  img {
    height: 20rem;
  }
  span {
    color: #4e0eff;
  }
}
// end of welcome styles

// contacts styles
.contacts-container{
  display: grid;
  grid-template-rows: 15% 85%;
  gap: 1.2rem;
  overflow: hidden;
  background-color: var(--secondary-color);

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    img {
      height: 2rem;
    }
    h3 {
      color: #fff;
      text-transform: capitalize;
    }
  }
  .contacs {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
    .heading-contact{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      h2{
        color: var(--main-text-color);
      }
      svg{
        color: #404956;
      }
    }
    .search-contact{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      background-color: var(--tersier-color);
      border-radius: .4rem;
      svg{
        color:#76777E ;
        margin-left: .8rem;
      }
    input{
      background-color: var(--tersier-color);
      width: 100%;
      color: #fff;
      border-radius: .4rem;
      border: none;
      outline: none;
      padding: .8rem;
      &::placeholder{
        color:#76777E ;
      }
      
    }
    }
    .contact {
      background-color: #ffffff34;
      min-height: 5rem;
      cursor: pointer;
      width: 90%;
      border-radius: 0.2rem;
      padding: 0.4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: 0.5s ease-in-out;

      .avatar {
        img {
          height: 3rem;
        }
      }
     .short-msg{
      .username {
        h3 {
          color: var(--main-text-color);
        }
      }
      .msg{
        p{
          color: var(--secondary-text-color);
        }
      }
     }
    }
    .selected {
      background-color: #887D7D;
    }
  }
  .current-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
    margin-left: 1.2rem;
    border-bottom: 2px solid #2B2C37;
    .avatar {
      img {
        height: 4rem;
        max-inline-size: 100%;
      }
    }
    .profile{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: .3rem;
      flex-direction: column;
      .username {
        h3 {
          margin-top: 0.4rem;
          color: var(--main-text-color);
        }
      }
      .email{
        h4{
          color: var(--secondary-text-color);
        }
      }
    }
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      gap: 0.5rem;
      .username {
        h2 {
          font-size: 1rem;
        }
      }
    }
  }
}
// end of contacts styles

// chat container
.container{
  .container-chat {
    height: 85vh;
    width: 85vw;
    background-color: #00000076;
    display: grid;
    grid-template-columns: 25% 75%;

    @media screen and (min-width: 720px) and (max-width: 1080px) {
      grid-template-columns: 35% 65%;
    }
  }
}
.chat-content{
  display: grid;
  grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  overflow: hidden;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    grid-template-columns: 15% 70% 15%;
  }
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    .user-details {
      display: flex;
      align-items: center;
      gap: 1rem;
      .avatar {
        img {
          height: 3rem;
        }
      }
      .username {
        h3 {
          color: var(--main-text-color);
        }
      }
    }
    .btn-logout {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--button-color);
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #a59f84;
      }
      svg {
        font-size: 1.3rem;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  .chat-message {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
    .message {
      display: flex;
      align-items: center;
      .content {
        max-width: 40%;
        overflow-wrap: break-word;
        padding: 1rem;
        font-size: 1.1rem;
        border-radius: 1rem;
        color: var(--main-text-color);
        @media screen and (min-width: 720px) and (max-width: 1080px) {
          max-width: 70%;
        }
      }
    }
    .content-time {
      display: flex;
      color: var(--secondary-text-color);
      margin-top: 0.4rem;
    }
    .sended {
      justify-content: flex-end;
      .content {
        background-color: var(--input-color);
      }
    }
    .received {
      justify-content: flex-start;
      .content {
        background-color: #404355;
      }
    }
  }
  .input-content{
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    background-color: var(--background-color);
    padding: 0 2rem;
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      padding: 0 1rem;
      gap: 1rem;
    }
    .button-container {
      display: flex;
      align-items: center;
      color: #fff;
      gap: 1rem;
      .emoji {
        position: relative;
        svg {
          font-size: 1.5rem;
          color: #ffff00c8;
          cursor: pointer;
        }
        .emoji-picker-react {
          position: absolute;
          top: -350px;
          background-color: var(--input-color);
          box-shadow: 0 5px 10px var(--button-color);
          border-color: var(--button-color);
          .emoji-scroll-wrapper::-webkit-scrollbar {
            background-color: var(--input-color);
            width: 5px;
            &-thumb {
              background-color: var(--button-color);
            }
          }
          .emoji-categories {
            button {
              filter: contrast(0);
            }
          }
          .emoji-search {
            background-color: transparent;
            border: var(--button-color);
          }
          .emoji-group:before {
            background-color: var(--input-color);
          }
        }
      }
    }
    .input-container {
      width: 100%;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      background-color: var(--input-color);
      input {
        width: 90%;
        height: 60%;
        color: #fff;
        background-color: transparent;
        border: none;
        padding-left: 1rem;
        font-size: 1.2rem;
        &::selection {
          background-color: var(--button-color);
        }
        &:focus {
          outline: none;
        }
      }
      button {
        cursor: pointer;
        padding: 0.3rem 2rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--button-color);
        border: none;
        &:hover {
          background-color: #c5bc94;
        }
        @media screen and (min-width: 720px) and (max-width: 1080px) {
          padding: 0.3rem 1rem;
          svg {
            font-size: 1rem;
          }
        }
        svg {
          font-size: 2rem;
          color: #292B29;
        }
      }
    }
  }
}
// end ofchat container